@{
    ViewData["Auto Parts"] = "Home Page";
}
<head>
    <title>Auto Parts</title>

    <style>

        header {
            background-color: black;
            color: #fff;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        h1 {
            color: green;
            margin-left: 20px;
        }

        nav ul {
            list-style-type: none;
            margin: 0 50px;
            padding: 10px;
            display: flex;
        }

            nav ul li {
                margin-right: 20px;
                margin:0 20px;
            }

                nav ul li a {
                    color: #fff;
                    text-decoration: none;
                }

        .search-bar {
            margin-left: 50px;
        }

        .sign-in {
            background-color: green;
            color: white;
            margin-left:60px;
            padding: 10px 15px;
            border: none;
            border-radius: 40px;
            cursor: pointer;
            text-decoration: none;
        }

        .sign-up {
            background-color: green;
            color: white;
            margin-right:20px;
            padding: 10px 15px;
            border: none;
            border-radius: 40px;
            cursor: pointer;
            text-decoration: none;
        }
        .front{
            background-image: url('../images/pngtree-3d-illustration-of-auto-components-spare-parts-and-accessories-image_3804414.jpg');
            height:250px;
            margin:0;
            padding:0;
            background-repeat:no-repeat;
            background-size:cover; 
            background-position: center;
        }
        .front h1{
            text-align:center;
            padding-top:50px;
            color:white;
        }

            .front h2 {
                text-align: center;
                padding-top: 10px;
                color: white;
            }


        .products {
            padding: 50px 0;
            background-color: #f9f9f9;
        }

            .products h1 {
                margin-bottom: 30px;
                font-size: 24px;
                color: black;
            }

        .product-img {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            text-align: center;
            margin-bottom: 20px;
            flex: 1;
            max-width: 300px;
            margin: 10px;
        }

            .product-img img {
                max-width: 100%;
                border-radius: 5px;
                margin-bottom: 15px;
            }

            .product-img h3 {
                font-size: 20px;
                color: #333;
                margin-bottom: 10px;
            }

            .product-img p {
                color: #555;
                margin-bottom: 10px;
                font-size: 14px;
            }

            .product-img .price {
                font-weight: bold;
                color: green;
                display: block;
                margin-bottom: 15px;
                font-size: 18px;
            }
            .p1{
                display:flex;
                margin:20px 150px;
                align-items:center;
            }

        .p2 {
            display: flex;
            justify-content: space-between;
            margin: 20px 150px;
        }
        .footer{
            background-color:black;
            color:white;
        }
        .footer1{
            display:flex;
            justify-content:center;
        }
        .about{
            max-width:300px;
            padding:10px;
        }

        .useful_link {
           width: 200px;
            padding: 10px;
        }
        .useful_link h2{
            margin-left:10px;
        }

        .contacts {
            padding: 10px;
            max-width: 300px;
        }
        .icon ul{
            list-style:none;
            align-items:center;
            justify-content:center;
            display:flex;
        }
        .icon ul li{
            margin:0 15px;
        }
        .copyright p{
            align-items: center;
            margin-left:450px;
        }


    </style>
</head>

<header>
    <h1>Auto Parts</h1>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
    <div class="search-bar">
        <input type="text" placeholder="Search...">
    </div>
    <a href="#" class="sign-in">Sign In</a>
    <a href="#" class="sign-up">Sign Up</a>
</header>

<body>
    
    <div class="front">
        <h1>Find Best Quality Parts Here</h1>
        <h2>Explore Our Wide Range Of Customized Parts</h2>
    </div>
    <div class="products">
        
            <h1>@ViewBag.data</h1>

            <div class="p1">
            <div class="product-img">
                <img src="../images/ss.jpg" alt=" Customized Steering Wheel">
                <h3> Customized Steering Wheel</h3>
                <span class="price">$59.99</span>
            </div>
            <div class="product-img">
                <img src="../images/tyre.jpg" alt="Customized Tyres">
                <h3>Customized Tyres</h3>
                <span class="price">$159.99</span>
            </div>
            <div class="product-img">
                <img src="../images/download.jpg" alt="Exhausters ">
                <h3>Exhausters</h3>
                <span class="price">$49.99</span>
        </div>
        </div>
        <div class="p2">
            <div class="product-img">
                <img src="../images/bumper.jpg" alt="Bumper">
                <h3>Bumper</h3>
                <span class="price">$39.99</span>
            </div>
            <div class="product-img">
                <img src="../images/hl.jpg" alt="Head Light">
                <h3>Head Light</h3>
                <span class="price">$9.99</span>
            </div>
            <div class="product-img">
                <img src="../images/grille.jpg" alt="Grille">
                <h3>Grille</h3>
                <span class="price">$29.99</span>
            </div>
        </div>
    </div>


</body>

<footer>
    <div class="footer">
        <div class="footer1">
        <div class="about">
            <h2>About Us</h2>
            <p>Welcome to Mian Auto Parts, your ultimate destination for high-quality auto parts and accessories. At Mian Auto Parts, we are passionate about providing car enthusiasts and professionals with top-notch products to enhance your vehicle's' performance and appearance.</p>
            </div>
            <div class="useful_link">
                <h2>Useful Link</h2>
                <ul>
                    <li><a href="#">Tyres</a></li>
                    <li><a href="#">Steerings</a></li>
                    <li><a href="#">Exhausters</a></li>
                </ul>
            </div>

            <div class="contacts">
                        <h2>Contact Us</h2>
                <p>
                    Have a question or need assistance? We're here to help! Contacting us at <a href="#">Mian Auto Parts</a> is easy and convenient. 

                    You can reach us via email, phone or through our online contact form.</p>
                    </div>
        </div>
            <div class="icon">
                <ul>
                    <li><a href="#"><img src="images/fb-icon.png"></a></li>
                    <li><a href="#"><img src="images/twitter-icon.png"></a></li>
                    <li><a href="#"><img src="images/linkdin-icon.png"></a></li>
                    <li><a href="#"><img src="images/instagram-icon.png"></a></li>
                </ul>
            </div>
    <div class="copyright">
            <p> &copy; Copyright 2024 All Right Reserved By <a href="https://mianautoparts/"> Mian Auto Parts</p>
        </div>
    </div>
</footer>